---
layout: default
title: Arrow - Articles
permalink: /articles/
description: Check out our articles.
pagination:
  enabled: true
  collection: articles
---

<link rel="stylesheet" href="/assets/css/articles.css?{{
  "now" | date: "%s"
}}"/>

<div role="main" aria-label="The articles" class="container">
  <!-- Hero News
  {% for post in site.posts %} {% if post.type == "hero" %}
  <a href="{{ post.url }}">
    <div id="hero-news" style="background-image: url({{ post.image }})">
      <div id="hero-content">
        <h1>{{ post.title }}</h1>
        {{ post.excerpt }}
      </div>
    </div>
  </a>
  {% endif %} {% endfor %} -->
  <h1 class="head-title">Articles</h1>
  <div class="articles-view" aria-label="articles section" >
    {% for post in paginator.posts %}
    <a
      class="articles-card"
      href="{{ post.url }}"
      style="background-image: radial-gradient(#00000000, #00000083), url({{ post.image }})"
    >
      <div class="articles-content">
        <h1>{{ post.title }}</h1>
        <p class="date">{{ post.date | date: "%a, %b %d, %Y" }}</p>
        {{ post.description }}
      </div>
    </a>
    {% endfor %}
  </div>

  <div {% if paginator.total_pages <= 1 %} style="display: none" aria-hidden="true" {% endif %} id="page-nav">
    {% if paginator.total_pages > 1 %} {% if paginator.previous_page %}
    <a
      style="float: right"
      href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
      aria-label="See newer articles"
      >Newer &#8594;</a
    >
    {% endif %} {% if paginator.next_page %}
    <a
      style="float: left"
      href="{{ paginator.next_page_path | prepend: site.baseurl }}"
      aria-label="See older articles"
      >&#8592; Older</a
    >
    {% endif %} {% endif %}
  </div>
</div>
