@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes heroImage {
    0% {
        opacity: 0;
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#hero-image {
    animation: heroImage 1s ease-out;
}

#title {
    animation: $hero-fade-in;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

#hero-sponsors {
    opacity: 0;
    animation: $hero-fade-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes sidebarFadeIn {
    0% {
        z-index: 11;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes sidebarFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -11;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}