body {
    background: linear-gradient(to top left, black, rgb(33, 33, 33));
}

#article-view {
    margin: auto;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    width: 80%;

    a {
        color: orange;
        transition: color 0.1s ease-in-out;

        &:hover {
            text-decoration: underline;
            color: rgb(253, 181, 46);
        }
    }

    h1,
    p {
        color: rgb(206, 206, 206);

        &::selection {
            background: white;
        }
    }

    #date {
        color: white;

        &::selection {
            background: white;
        }

        display: inline-block;
        margin: 0;
        padding-bottom: 5px;

        font-size: 0.9em;

        &::after {
            content: " ";
            display: block;
            margin-top: 5px;
            height: 2px;
            width: 30px;
            background: orange;
            border-radius: 3px;
        }
    }

    h1 {
        &::selection {
            background: white;
        }

        margin: 0;

        color: white;
        background: linear-gradient(to right, orange, rgb(255, 0, 153));
        background-size: 100% 100%;
        background-position: center;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    img {
        display: block;
        border-radius: 5px;
        max-width: 80%;
        margin: auto;
        max-height: 500px;
    }

    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    div {
        font-size: 1.1em;
        margin-top: 20px;
        color: white;

        h1 {
            color: hsl(39, 70%, 50%);
            background: none;
            background-clip: initial;
            -webkit-text-fill-color: initial;
            border-bottom: 1px solid rgba(255, 255, 255, 0.215);
            margin-top: 30px;

            &:first-of-type {
                margin-top: 0;
            }
        }

        h2 {
            color: hsl(39, 70%, 50%);
            border-bottom: 1px solid rgba(255, 255, 255, 0.215);
            margin-top: 30px;

            &:first-of-type {
                margin-top: 0;
            }
        }

        hr {
            width: 10%;
            margin: auto;
            margin-top: 4em;
            margin-bottom: 4em;
            height: 5px;
            border-radius: 2px;
            background-color: #fff;
        }

        margin-bottom: 20px;

        img {
            display: block;
            border-radius: 5px;
            max-width: 80%;
            margin: auto;
            max-height: 400px;
        }

        .img-caption {
            text-align: center;
            margin-top: 0px;
            font-size: 0.8em;
        }
    }

    @media only screen and (max-width: 550px) {
        img {
            width: 100%;
        }
    }

    #author-img {
        margin-left: 5px;
        border-radius: 2em;
        vertical-align: middle;
        display: inline;
        width: 2.5em;
        height: 2.5em;
    }
}