$bg-content-dark: rgb(17, 17, 17);

// $header-bg-color: linear-gradient(170deg,
// #020d2c 0%,
// #0000009c 50%,
// rgba(0, 0, 0, 0) 100%);
$header-bg-color: rgba(0, 0, 0, 0.9);
$box-shadow-grey: 0px 0px 1px 1px rgb(32, 32, 32);

$nav-link-color: rgb(253, 156, 39);
$nav-link-hover-color: #d1d1d1;

$text-color: white;
$links-color: #039be5;
$text-selection-color: white;

$margin-away-from-header: 80px;

$hero-fade-in: fadeIn 3s ease-out;